body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #6a0dad;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.navbar span {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin: 20px auto;
    width: 80%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
}

.box:hover {
    transform: scale(1.1);
}

.box form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.box button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.pass-button {
    grid-column: 2 / span 1;
}

.content {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-top: 0;
}
