body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.content {
    padding: 20px;
}
.button-container {
    margin: 20px 0;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    color: white;
}
.logout-button {
    background-color: #f44336; /* Red */
}
.delete-button {
    background-color: #555555; /* Dark Gray */
}