<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="../static/styles/leaderboard.css">
</head>
<body>

<div class="navbar">
    <a href="home">Home</a>
    <span>{{ username }}</span>
    <span>Worth: Rs {{ worth }}</span>
    <span>{{ month_year }}</span>
</div>


<div class="content">
    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Worth</th>
            <th>Joining Time</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.user_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{user.worth}}
            <td>{{ user.signup_time }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
