<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
</head>
<body>
    <div class="signup-container">
        <h2>Signup</h2>
        <form method="POST" action="{{ url_for('signup') }}">
            <input type="text" name="user_name" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Set Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <button class="login-button" onclick="window.location.href='{{ url_for('login') }}'">Login</button>
    </div>
</body>
</html>
