<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <link rel="stylesheet" href="../static/styles/bank.css">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/bank">Bank</a>
    <a href="/market">Market</a>
    <a href="/investment">Investment</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/settings">Settings</a>
</div>

<form method="post" action="/bank">
    <label for="amount">Enter Amount:</label>
    <input type="number" id="amount" name="amount" placeholder="Enter amount..." required>
    <button type="submit" name="action" value="deposit">Deposit Money</button>
    <button type="submit" name="action" value="loan">Take Loan</button>
</form>


</body>
</html>
