<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>

<div class="navbar">
    <a href="home">Home</a>
    <span>{{ username }}</span>
    <span>Rs {{ worth }}</span>
    <span>{{ month_year }}</span>
</div>

<div class="container">
    <div class="box" onclick="location.href='bank'">
        <span>Bank</span>
    </div>
    <div class="box" onclick="location.href='market'">
        <span>Market</span>
    </div>
    <div class="box" onclick="location.href='Statement'">
        <span>Investment</span>
    </div>
    <div class="box" onclick="location.href='leaderboard'">
        <span>Leaderboard</span>
    </div>
    <div class="box" onclick="location.href='setting'">
        <span>Settings</span>
    </div>
    <div class="box" onclick="location.href='wallet'">
        <span>Wallet</span>
    </div>
    <div class="box pass-button">
        <form action="{{ url_for('next_month') }}" method="POST">
            <button type="submit">Next Month</button>
        </form>
    </div>
</div>

</body>
</html>
