<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="navbar">
    <div class="navbar-content">
        <span class="navbar-item">Username: {{ username }}</span>
        <span class="navbar-item">Worth: Rs {{ worth }}</span>
        <span class="navbar-item">Bank Data: Rs {{ bank }}</span>
        <span class="navbar-item">{{ month_year }}</span>
    </div>
</div>

<div class="sidebar">
    <a href="home" class="active"><i class="fas fa-home"></i> Home</a>
    <a href="bank"><i class="fas fa-university"></i> Bank</a>
    <a href="market"><i class="fas fa-store"></i> Market</a>
    <a href="Statement"><i class="fas fa-chart-line"></i> Investment</a>
    <a href="leaderboard"><i class="fas fa-trophy"></i> Leaderboard</a>
    <a href="settings"><i class="fas fa-cog"></i> Settings</a>
    <a href="wallet"><i class="fas fa-wallet"></i> Wallet</a>
</div>

<div class="container">
    <div class="main-content">
        <!-- Main content goes here -->
        <div class="pass-button">
            <form action="{{ url_for('next_month') }}" method="POST">
                <button type="submit">Next Month</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>