<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="../static/styles/leaderboard.css">
</head>
<body>

<div class="navbar">
    <a href="home">Home</a>
    <a href="bank">Bank</a>
    <a href="market">Market</a>
    <a href="investment">Investment</a>
    <a href="leaderboard">Leaderboard</a>
    <a href="settings">Settings</a>
</div>

<div class="content">
    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Worth</th>
            <th>Signup Time</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.user_name }}</td>
            <td>{{ user.email }}</td>
            <td>Rs  {{ user.loan_amount }}</td>
            <td>{{user.worth}}
            <td>{{ user.signup_time }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
