<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../static/styles/settings.css">
</head>
<body>

<div class="navbar">
    <a href="home">Home</a>
    <span>{{ username }}</span>
    <span>Worth: Rs {{ worth }}</span>
    <span>{{ month_year }}</span>
</div>

<div class="content">
    <h1>Settings</h1>
    <div class="button-container">
        <!-- Logout Button -->
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit" class="logout">Logout</button>
        </form>
        
        <form action="{{ url_for('delete_account') }}" method="post" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
            <button type="submit" class="delete_account">Delete Account</button>
        </form>
        
    </div>
</div>

</body>
</html>
