body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.navbar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    margin: 0 10px;
}

.sidebar {
    width: 200px;
    background-color: #343a40;
    color: white;
    position: fixed;
    height: 100%;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #007bff;
}

.container {
    margin-left: 220px;
    padding: 20px;
}

.main-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
   
    padding: 20px;
    border-radius: 8px;
    
}

.pass-button {
    text-align: center;
    margin-top: 20px;
}

.pass-button button {
    padding: 10px 20px;
    font-size: 36px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.pass-button button:hover {
    background-color: #2980b9;
}